@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/08/Free-Chalkboard-Backgrounds.jpg");
  height: 100vh;
}

h1 {
  margin: 0;
}

header {
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  padding: 2rem;
  background: linear-gradient(to right, #d6d6d6, #b1b1b1, #d6d6d6);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}

header>h1>a {
  text-decoration: none;
  cursor: pointer;
}

header>div>a, p {
  margin: 0 3rem;
}

.auth-container {
  margin: 8rem 30%;
  background: #b1b1b1;
  padding: 2rem;
}

.teacher-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 10px;
  margin: 8rem 10%;
}

.teacher-card {
  background: #d6d6d6;
  cursor: pointer;
}

.teacher-page {
  margin: 8rem auto;
  background: #d6d6d6;
  width: 20rem;
  padding: 0rem 0rem 2rem 0rem;
}

.create-form {
  display: grid;
  width: 20rem;
  margin: 15rem auto;
  background: #d6d6d6;
  padding: 2rem 2rem 3.5rem 2rem;
}

img {
  max-width: 15rem;
  padding: 2rem;
}

.plus-sign {
  max-width: 4rem;
  cursor: pointer;
}

form>label {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}